# Created by .ignore support plugin (hsz.mobi)
.gitignore
.idea/misc.xml
.idea/modules.xml
.idea/workspace.xml
freedgo-master.iml
.idea/dataSources/
.idea/freedgo.iml
.idea/inspectionProfiles/
front/daojia/daojia/build/
front/daojia/daojia/docker/base/config/install-containers.xml
front/daojia/services/build/
images/.idea/
images/webapp/images/categories/
images/webapp/images/ckeditor/plugins/imgmanage/
images/webapp/images/datasource/
images/webapp/images/jquery/ui/css/smoothness/images/
images/webapp/images/products/
images/webapp/images/themes/adminlet/images/
images/webapp/images/themes/bootcss/images/
images/webapp/images/www_alifind_cn/
images/webapp/images/www_changsy_cn/
images/webapp/images/www_gbcui_com/
images/webapp/images/yuao/images/active/
images/webapp/images/yuao/images/footer/
images/webapp/images/yuao/images/zhuanjia/
manage/.idea/
manage/applications/accounting/webapp/accounting/lookup/
manage/applications/content/template/docbook/doc/
manage/applications/marketing/webapp/sfa/account/
manage/applications/marketing/webapp/sfa/party/
manage/applications/order/webapp/ordermgr/WEB-INF/actions/report/
manage/applications/order/webapp/ordermgr/includes/
manage/applications/product/webapp/catalog/includes/
manage/applications/securityext/config/
manage/applications/webtools/webapp/webtools/includes/
manage/services/accountService/build/
manage/services/commonService/build/
manage/services/commonService/config/
manage/services/commonService/lib/
manage/services/contentService/build/
manage/services/contentService/src/org/ofbiz/content/test/
manage/services/humanresService/build/
manage/services/humanresService/config/
manage/services/manufacturingService/build/
manage/services/manufacturingService/config/
manage/services/marketService/build/
manage/services/marketService/lib/
manage/services/marketService/script/org/ofbiz/sfa/opportunity/
manage/services/orderService/build/
manage/services/partyService/build/
manage/services/partyService/config/
manage/services/productService/build/
manage/services/productService/logs/
manage/services/securityext/build/
manage/services/toolsService/build/
manage/services/workeffortService/build/
manage/services/workeffortService/src/org/ofbiz/workeffort/project/
runtime/.idea/
runtime/data/
runtime/logs/
runtime/svninfo.ftl
runtime/tmp/
themes/.idea/
themes/ace/
themes/adminlet/webapp/adminlet/template/
themes/boots/webapp/boots/template/
themes/coloradmin/webapp/coloradmin/template/
