/*  
	-------------------------	jQuery DateTimePicker v0.1.1	----------------------------
	
	Version 0.1.1
	Copyright 2014 Curious Solutions Pvt Ltd and Neha Kadam
	
	https://github.com/CuriousSolutions/DateTimePicker
	
*/

.dtpicker-overlay
{
	z-index: 2000;
	display:none;
	min-width: 300px;

	background: rgba(0, 0, 0, 0.2);
	font-size: 70%;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.dtpicker-mobile
{
	position: fixed;
	top: 0px;
	left: 0px;

	width: 100%;
	height: 100%;
}

.dtpicker-overlay * 
{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-ms-box-sizing: border-box;

	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.dtpicker-bg
{
	width: 100%;
	height: 100%;

	font-family: Arial;
}

.dtpicker-cont
{
	border: 1px solid #ECF0F1;
}

.dtpicker-mobile .dtpicker-cont
{
	position: relative;
	top: 50%;

	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);

	border: none;
}

.dtpicker-content
{
	margin: 0px auto;
	padding: 1rem 0rem;
    padding-top:0;
	max-width: 500px;

	background: #fff;
}

.dtpicker-mobile .dtpicker-content
{
	width: 97%;	
}

.dtpicker-subcontent
{
	position: relative;
}

.dtpicker-header
{
	margin: 0.2rem 0rem;
}

.dtpicker-header .dtpicker-title
{
	color: #fff;
	text-align: center;
	font-size: 2rem;
	background:#cb1601;
	padding:1rem 0.8rem;
}

.dtpicker-header .dtpicker-close
{
	position: absolute;
	top: 0.6rem;
	right: 0.3rem;
	
	padding: 0.5rem 0.5rem 1rem 1rem;
	
	color: #fff;
	font-size: 1.5rem;
	
	cursor: pointer;
}

.dtpicker-header .dtpicker-close:hover
{
	color: #FF3B30;
}

.dtpicker-header .dtpicker-value
{
	padding:  0.8rem 0.2rem 0.2rem 0.2rem;
	color: #FF3B30;
	text-align: center;

	font-size: 1.4rem;
}

.dtpicker-components
{
	overflow: hidden;
	margin: 1rem 1rem;
	margin-top:0.3rem;
	font-size: 1.4rem;
}

.dtpicker-components *
{
	margin: 0px;
	padding: 0px;
}

.dtpicker-components .dtpicker-compOutline
{
	display: inline-block;
	float: left;
}

.dtpicker-comp2
{
	width: 50%;
}

.dtpicker-comp3
{
	width: 33.3%;
}

.dtpicker-comp5
{
	width: 20%;
}

.dtpicker-comp6
{
	width: 16.66%;
}

.dtpicker-components .dtpicker-comp
{
	margin: 2%;
	text-align: center;
}

.dtpicker-components .dtpicker-comp > *
{
	display: block;
	height: 30px;

	color: #404040;

	text-align: center;
	line-height: 30px;
}

.dtpicker-components .dtpicker-comp > *:hover
{
	color: #2980B9;
}

.dtpicker-components .dtpicker-compButtonEnable
{
	opacity: 1;
}

.dtpicker-components .dtpicker-compButtonDisable
{
	opacity: 0.5;
}

.dtpicker-components .dtpicker-compButton
{
	background: #FFFFFF;
	font-size: 3rem;

	cursor: pointer;
}

.dtpicker-components .dtpicker-compValue
{
	margin: 0.4rem 0rem;
	width: 100%;
	border: none;
	background: #FFFFFF;

	font-size: 2rem;

	-webkit-appearance: none;
}

.dtpicker-overlay .dtpicker-compValue:focus
{
	outline: none;
	background: #F2FCFF;
}

.dtpicker-buttonCont
{
	overflow: hidden;
	margin: 0.2rem 1rem;
}

.dtpicker-buttonCont .dtpicker-button
{
	display: block;
	padding: 0.6rem 0rem;
	width: 47%;
	background: #FF3B30;
	color: #FFFFFF;
	text-align: center;
	font-size: 1.5rem;

	cursor: pointer;
}

.dtpicker-buttonCont .dtpicker-button:hover
{
	color: #FFFFFF;
}

.dtpicker-singleButton .dtpicker-button
{
	margin: 0.2rem auto;
}

.dtpicker-twoButtons .dtpicker-buttonSet
{
	float: left;
}

.dtpicker-twoButtons .dtpicker-buttonClear
{
	float: right;
}