@charset "utf-8";
/* CSS Document */
.agreebox{width:990px; margin:0 auto; color:#333; font-size:12px; font-family:tahoma,arial,"宋体"}
.agreebox h2{font-size:16px; text-align:center; line-height:36px; font-weight:bold; margin-bottom:15px; margin-top:20px;}
.agreement{padding-bottom: 50px;line-height: 1.8;}
