@CHARSET "UTF-8";

.u-btn,.u-icon{display:inline-block;display:-moz-inline-stack;*zoom:1;*display:inline;vertical-align:middle; font-size:0;}
.u-font-btn{display:inline-block;display:-moz-inline-stack;*zoom:1;*display:inline;vertical-align:middle; }

.warpper{position:relative}
.innerBox{ width: 1005; background-color: #fff; }
.boxContent{ width: 1140px; margin: 0 auto; background-color: #fff;}

.changeBg{width:100%;margin:0 auto; height:130px;display:none}
.changeBg .box{position:relative}
.changeBg .topMiddle{margin-left:-590px!important;left:50%;position:absolute;height:130px;top:0}
.changeBg .topMiddle .btn{height:66px;width:31px;position:absolute;right:33px;top:35px;background-position:0 -1675px}
.changeBg .img{margin:0 auto; width:100%; position:absolute;left:0;top:0;width:100%;height:130px; text-align: center; }
.changeBg .topMiddle .save{display:none;position:absolute;bottom:-35px;width:105px;z-index:44;height:35px;right:5px;background-color:#febb39;text-align:center;line-height:35px;font-weight:bolder;color:#fff;font-size:14px;cursor:pointer}
.changeBg .topMiddle .btn i{display:block;width:100%;height:50%;text-align:center;line-height:33px;text-indent:-99999px;cursor:pointer}
.changeBg .img img{width:100%;height:100%}

.topBag{width:100%;margin:0 auto;height:734px;position:absolute;left:0;top:0;border-top:4px solid #e85500; z-index: -1}
.topBag .img{background:no-repeat top center; width:100%; height:100%;margin:0 auto}

.red .title li.link a, .red .title li.skin a{  color: #fff; }
.green .title li.link a, .green .title li.skin a{ color:#3a4146 }
.gray .title li.link a, .gray .title li.skin a{ color:#3a4146 }

.red .topBag{border-top-color: #406A8C;}
.red .topNav .title li.home i{background-position: -338px 0;}
.red .title .trolley .number b{background-position: -320px -18px;}
.red .title li .tel{color: #fff;}
.red .title li.skin{color: #fff}
.red .searchBar .searchWarpper{  border: 2px solid #84171c !important;}
.red .searchBar .btn{ background:url(./images/carsAll.png) no-repeat 13px -97px #fed939;}

.green .topBag{border-top-color: #406b8c;}
.green .topNav .title li.home i{background-position: -356px 0;}
.green .title li .tel{color: #333;}
.green .title li.skin{color: #fde370;}
.green .searchBar .searchWarpper{  border: 2px solid #90b3b5 !important;}
.green .searchBar .btn{ background:url(./images/carsAll.png) no-repeat 15px -2550px #fed939}

.gray .topBag{border-top-color: #406b8c;}
.gray .topNav .title li,.gray .topNav .title li a{color:#666666;}
.gray .topNav .title li.home i{background-position: -356px 0;}
.gray .title li .tel{color: #3a4146;}
.gray .title li.skin{color: #fde370;}
.gray .searchBar .searchWarpper{  border: 2px solid #a6baca !important;}
.gray .searchBar .btn{ background:url(./images/carsAll.png) no-repeat 15px -2486px #fed939}



.topNav .title li a.removeList{float:right}
.p-name p{float:left; width: 148px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
.floatSearch .closed{ position: absolute; right: 90px; top: 174px; background-position: 0 -2621px; width: 39px; height: 39px; border:none; cursor: pointer;}
.floatBox .FloatsearchInput{ width: 362px; height: 38px; background-color: #fff; border: none;text-indent: 20px; font-size: 14px;}
.floatBox .FloatsearchButton{ width: 71px; height: 38px; background-position:16px -2735px; background-color: #ff9900; border:none; cursor: pointer; }
.p-name .promise411{width:100%}
.floatSearch .floatBox{ position: absolute;left:247px; top: 165px; }

.title .hover{background-color:#fff;border:1px solid #c9c9c9;border-bottom:0;z-index:222}
.trolley .loginBar{z-index:22;position:absolute;width:394px;height:202px;padding:10px;left:-1px;_left:0px;top:31px;overflow:auto;background-color:#fff;border:1px solid #c9c9c9;display:none}
.trolley .loginBar.auto{height: auto;}
.loginBar .shoppingList{border-bottom:1px dashed #d3d3d3;padding-top:10px}

.main{position:relative}
.main .topNav,.main .searchBar,.navWarpper .nav,.main .bannerBox,.main .component,.footerContent,.changeBg .topMiddle,.floatSearch .float{width:1180px;margin:0 auto}
.main .topNav{padding-top:4px}
.title li.link,.searchBar .images,.navWarpper .nav li span,.navWarpper .nav .titleList,.bannerBox .left .list h3,.bannerBox .right .listItem li,.main .componentWarpper .title,.footerContent .message .image i,.main .componentWarpper .green,.main .componentWarpper .red,.footerContent .message ul li,.footerContent .message,.changeBg .topMiddle .btn,.title .trolley .chartBar,.mscroll-ctrl-prev b,.mscroll-ctrl-next b,.componentTitle .more .change,.floatBox .FloatsearchButton,.floatSearch .closed,.qqWindow .left, .qqWindow .top{background-image:url(./images/carsAll.png);background-repeat:no-repeat}
.main .topNav .title{float: right;}
.floatSearch{ position: fixed; bottom: 0; left: 0; width: 100%; z-index: 245;background-image: url(./images/searchFloat.png);  background-position: center bottom; background-repeat: no-repeat; _position: absolute; _top:expression(eval(((document.documentElement.offsetHeight-this.offsetHeight)+document.documentElement.scrollTop))); }
.floatSearch .float{ height: 290px; background-image: url(./images/floatSearch.png); background-repeat: no-repeat; background-position: 35px 0; position: relative;}
.topNav .title li{float:left;padding-left:10px;padding-right:10px;line-height:30px;}
.topNav .title li a{line-height:30px;color:#333;text-decoration:none}
.topNav .title li .shortcut-item a:hover{text-decoration: underline;}
.topNav .title li.home i{background: url("./images/sprite.png") -320px 0; width: 16px; height: 14px; margin-right: 15px; margin-top: -2px;}

.title li.trolley{position:relative;width:124px;height:30px;_width:124px; z-index: 1}
.title .trolley .chartBar{background-position:4px -1368px;padding-left:40px;position:absolute;left:0;top:0;border:1px solid transparent; width: 94px; _width: 87px;_border:none;}
.title .trolley .number{color:#ffba00;font-size:12px; font-weight:bold; position: relative;}
.title .trolley .number b{ width: 8px; height: 4px; display: inline-block; position: absolute;right:-15px; top:50%; margin-top: -2px; background: url("./images/sprite.png") -331px -18px;}
.title .trolley .hover .number b{ background-position: -331px -18px !important;}

.cart-tbody .p-checkbox{height:52px;width:16px}
.trolley .chartBar i{width:135px;position:absolute;bottom:-3px;left:-1px;height:3px;z-index:333; _width: 127px;_bottom:-12px;_left:0px;}
.trolley .chartBar .hover i{background-color:#fff;}
.cart-tbody .p-checkbox label{margin-left:14px;vertical-align:-19px}
.loginBar .fixed .cell{width:185px!important}
.cart-tbody .p-goods .allShopping{width:131px;height:26px;background-color:#f2353c;display:block;float:right;color:#fff;line-height:26px;text-align:center;margin-top:10px}
.cart-tbody .p-name .price{float:right;color:#f2353c;font-weight:bolder}
.cart-tbody .cell{float:left;height:auto!important;min-height:52px}
.cart-tbody .p-goods{overflow:hidden;float:left;width:360px; _width:340px;}
.cart-tbody a.decrement{margin-right:5px}
.cart-tbody .p-quantity a{background:none repeat scroll 0 0 #fff;border:1px solid #ccc;display:block;float:left;height:13px;line-height:13px;margin-top:3px;overflow:hidden;text-align:center;width:13px}
.cart-tbody .quantity-form{height:22px;overflow:hidden;text-align:left;width:76px;float:left; _display: inline;}
.cart-tbody .quantity-form input{border:1px solid #ccc;float:left}
.cart-tbody .quantity-text{-moz-border-bottom-colors:none;-moz-border-left-colors:none;-moz-border-right-colors:none;-moz-border-top-colors:none;background-color:#fff;border-color:#aaa #ddd #ddd #aaa;border-image:none;border-right:1px solid #ddd;border-style:solid;border-width:1px;height:18px;overflow:hidden;padding-top:2px;text-align:center;width:34px;margin-right:5px}
.cart-tbody a.increment{float:right}
.cart-tbody .quantity-form a:hover{text-decoration:none}
.cart-tbody .quantity-form a{background:none repeat scroll 0 0 #fff;border:1px solid #ccc;display:block;float:left;height:13px;line-height:13px!important;margin-top:3px;overflow:hidden;text-align:center;width:13px}
.cart-tbody .quantity-form a.disabled{border:1px solid #ccc!important;color:#ccc!important; cursor: not-allowed}
.cart-tbody .p-img{background-color:#fff;border:1px solid #ddd;float:left;height:50px;margin-right:10px;padding:0;width:50px; _display: inline;}
.cart-tbody .p-name{float:left;width:295px;_width:275px}
.cart-tbody .cell{float:left;height:auto!important;min-height:52px}
.cart-tbody .quantity-form a:hover{border:1px solid #999!important;color:#333!important;text-decoration:none!important}
.cart-tbody .quantity-form a.disabled:hover{border:1px solid #ccc!important;color:#ccc!important;}
.cart-tbody .p-checkbox input{display:inline;float:left;margin:20px 0 0 0}



.title li.link{background-position:-2px 8px;padding-left:20px}
.title .hover .number{background-position:-96px -46px}
.title li .tel{color: #ffba00; font-size: 14px;}
.title li.myLogin{ padding-left:0 !important;}
.title li.skin strong{ cursor: pointer; padding: 3px;}
.main .searchBar{margin-top:20px;position:relative; width: 1140px}

.main .searchBar .logo{width: 234px; height: 50px; float: left;}
.searchBar .searchWarpper{width:447px;_width:447px;border:2px solid #d2d2d2;float:left; margin-left:165px;
    _display:inline; background-color: #FFF;}
.searchBar input{height:28px;border:0; vertical-align: middle; line-height: 28px; display: inline-block;_margin-top: -3px;}

.searchBar .searchType{width:80px; height: 28px;  line-height: 28px; border: none; float: left; border-right: 2px solid #d2d2d2;
    cursor: pointer; position: relative;}
.searchBar .searchType span{padding-left: 1em;}
.searchBar .searchType i{ background: url("./images/sprite.png") -331px -18px; height: 4px; width: 8px;
    position: absolute; top: 50%; right: 10px; margin-top: -2px;}
.searchBar .searchType ul{display: none; position: absolute; left: -2px;}
.searchBar .searchType.hover ul{display: block; width: 80px; border: 2px solid #d2d2d2; background-color:#FFF; z-index: 99;}
.searchBar .searchType.hover ul li{height: 24px; line-height: 24px;}
.searchBar .searchType.hover ul li a{ display: block; padding-left: 1em; }
.searchBar .searchType.hover ul li a:hover{background-color:#E6E6E6;}
.searchBar .search{width:305px; text-indent:1px; _display: inline;}
.searchBar .btn{width:54px;cursor:pointer;_display:inline; _margin-top: -2px; background: url("./images/sprite.png") -813px 0 #F98302;}
.searchBar .search_right{background: url("./images/sprite.png") -372px 0; width:221px;height:58px;float:right; margin-top:-4px;
    margin-right: 5px;}
.searchBar .keyword{bottom:0;clear:both;position:absolute;left:518px}
.searchBar .keyword li a{color:#333}
.searchBar .keyword .orange a{color:#f93}
.searchBar .keyword li{float:left;margin-right:10px}

/*热门搜索CSS*/
.searchBar .keyword li{position: relative; left: -110px;}

.main .navWarpper{height:46px;background-color:#3a4146;margin-top:28px}
.navWarpper .nav{height:100%;font-weight:bolder}
.navWarpper .nav .titleList{background-position:28px -386px;height:46px;width:13px;padding-left:56px;}
.navWarpper .nav li{float:left;text-align:center;height:100%;position:relative;margin-left:-3px}
.navWarpper .nav li span{background-position:-1px -333px;height:100%;width:2px;position:absolute;right:0;top:0}
.navWarpper .nav li.hover span,.navWarpper .nav .ins span,.navWarpper .nav .event:hover span{background-image:none!important}
.navWarpper .nav li a{font-size:16px;color:#fff;line-height:46px;text-align:center;padding-left:25px;padding-right:25px;display:block;float:left}
.navWarpper .nav li.hover a{background-color:#ff6533;}
.navWarpper .nav li a:hover{text-decoration:none;}
.navWarpper .nav li a.allProduct{font-size:16px;color:#fff;line-height:46px;text-align:center;padding-left:25px;padding-right:25px;display:block;float:left;margin-left:24px;}
.navWarpper .nav li a.index{margin-left:23px; }

html{_background-image:url(about:blank);background-attachment:fixed;}
.footerService {background-color: #F2F2F2;}
.footerService .serviceContent{background: url("./images/sprite-1140.png"); width: 1140px; height: 119px; margin: 0 auto; margin-top: 30px;}
.footer{ background-color:#3a4146;}
.footerContent{overflow:hidden; width: 1140px}
.footerContent .way a{text-align:center;font-size:14px;font-weight:bolder;color:#fff;width:220px;display:inline-block;cursor: default;}
.footerContent .way{padding-top:25px;padding-bottom:10px;border-bottom:1px solid #fff}
.footerContent .way a.last{width: 140px;}
.footerContent p{text-align:center;line-height:25px;color:#fff}
.footerContent .message{margin-left:65px;padding-top:15px;background-position:right 200px;width:1048px}
.footerContent .message ul{float:left;margin-right:135px}
.footerContent .message ul li{margin-bottom:9px}
.footerContent .message ul li{background-position:-4px -300px;text-indent:16px}
.footerContent .message ul li a{color:#fff}
.footerContent .message ul.third,.footerContent .message ul.second{margin-left:26px}
.footerContent .message ul.second{margin-right: 100px;}
.footerContent .message ul.last{margin-left:26px; margin-right: 100px;}
.footerContent .message .image i{background-position:0 -680px;width:40px;height:40px;position:absolute;left:15px; top: 24px;}
.footerContent .message .image{width:180px;height:80px;margin-right:0!important;position:relative; }
.footerContent .message ul.image li{font-size:16px;color:#fff;font-weight:bolder;list-style-type:none!important;
    list-style-image:none!important; background: none;}
.footerContent .message ul.image li.icon{padding-left: 45px; font-size:15px;}

.qq{position:fixed;right:50%; margin-right:-660px; top:50%; display:-none;margin-top:-26px;  width:55px;height:158px;z-index:266;
    _top: expression(eval(document.documentElement.offsetHeight/2+document.documentElement.scrollTop)); _position:absolute;
    background: url("./images/sprite.png") -1px -342px;}
.qq .shoppinCar a{width:100%;height:100%;display:block;text-indent:-2222px;}
.qq strong{display:block;width:100%;height:33%;cursor:pointer}
.qq .qqWindow{width:172px;height:161px;position:absolute;left:-172px;display:none;}
.qq .qqWindow .content{ position: absolute; left: 34px; top: 29px; background-color: #fff;width: 137px;  height: 130px;border-left: 1px solid #d2d2d2; border-bottom: 1px solid #d2d2d2; }
.qq .qqWindow .left{  background-position: 0 -2810px; left: 4px ; top: 0; height: 155px; width: 37px; position: absolute; }
.qq .qqWindow .top{  background-position: -460px -2970px; right: 0 ; top: 0; height: 29px; width: 137px; position: absolute;border-left: 1px solid #d2d2d2; background-color: #fff;}


.workflow ul li{ float: left; background-image: url(./images/shopplingList-bg.png); background-repeat: no-repeat; width: 207px; height: 29px; line-height: 29px; text-align: center;}
.workflow{ padding-top: 50px;padding-bottom: 30px;}
.workflow .level{ float: right; background-position: -1px -73px}
.workflow .first{ background-position: -6px -15px}
.workflow .last{ background-position: -9px -142px; width: 177px;}
.workflow .level1{ background-position: -15px -301px}
.workflow .level0{ background-position: -2px -237px}


/*个人中心*/
.boxContent .titleNav{ padding-top:20px!important; margin-bottom:16px!important; overflow: hidden;}
.boxContent .titleNav ul li{ list-style:none; float:left; color:#666; margin-right:10px}
.boxContent .titleNav a{color:#666}
.boxContent .centers{ color:#333; font-size:16px; padding-bottom:6px; font-weight:bolder; border-bottom:2px solid #333333; position:relative}
.centers .centersBorder{ position:absolute; left:0; bottom:-2px; width:116px; height:2px; background-color:#f2353c}
.contentMain .sideRight{float:left; margin:0 0 0 22px;  _display: inline; width: 982px; overflow: hidden;}
.iContent{padding-top: 22px;}

.sideBarControl{float:left;}
.sideBarControl ul{border:1px solid #c9c9c9;padding-bottom:16px}
.sideBarControl ul li{list-style:none; width:112px; padding:12px 0 0 22px}
.sideBarControl a{ color:#333;}
.sideBarControl .border{border-bottom:1px solid #c9c9c9; padding-bottom:9px; font-weight:bolder}
.sideBarControl .current a{font-weight:bolder; color:#ff9900}

.contentMain .sideRight table.filter tr td{padding-bottom: 15px;}

.i-u-tab{
    border-bottom: 1px solid #c9c9c9; position: relative; clear: both; height: 34px;
}
.i-u-tab ul{
    position: absolute; border-left: 1px solid #c9c9c9; bottom: -1px; left: 0;
}
.i-u-tab ul li{
    float: left; height: 32px; line-height: 32px; border-top: 1px solid #c9c9c9;
    border-right: 1px solid #c9c9c9; border-bottom: 1px solid #c9c9c9; background-color: #EEEEEE;
}
.i-u-tab ul li.current{
    border-bottom: 1px solid #FFF; background: none;
}
.i-u-tab ul li.current a{
    color: #CF0E0E;
}
.i-u-tab ul li a{
    display: block; padding: 0 10px;
}


.i-u-tab2{
    position: relative; border-bottom: #bfbfbf 2px solid; height: 34px;
}
.i-u-tab2 ul{
    position: absolute; bottom: -2px;
    clear: both;
}
.i-u-tab2 ul li{
    float: left; padding: 0 12px; height: 36px; line-height: 36px; margin-right: 15px;
}
.i-u-tab2 ul li.current{
    background-color: #ff9900;
}
.i-u-tab2 ul li a{
    font-weight: bold; font-size: 16px; color: #000000;
}
.i-u-tab2 ul li.current a{
    color: #FFF;
}





.page{ margin-top: 25px; text-align: right; color: #666;}
.page a{ color: #666; height: 30px; line-height: 30px; text-align: center;border: 1px solid #d7d7d7; display: inline-block; padding-left: 12px; padding-right: 12px; text-decoration: none;}
.page a.enable:hover{background-color: #FF6600; color: #FFF; }
.page a.current{border: #D7D7D7 1px solid; color: #FF6600;}
.page a.current:hover{background-color: #FFF; color: #FF6600;}
.page a.disabled{border:#D7D7D7 1px solid; color:#B1B1B1; }
.page p{display: inline-block;float: right; margin-right: 10px;}
.page p input{ height: 28px; width: 30px;border: 1px solid #d7d7d7; margin:0 5px 0 13px; text-align: center;}
.page span.goto{ width: 147px; display: inline-block; vertical-align: -11px;}
.page span.goto a{  display: inline-block; float: right;}
.page .prev i,.page .next i{background-image: url("./images/sprite.png");}
.page .prev{ }
.page .next{  margin-right: 10px;}
.page .prev i{ background-position:-1px -85px; width: 4px; height: 8px; margin-right: 6px;}
.page .next i{ background-position:-1px -85px; width: 4px; height: 8px; margin-right: 6px; }
.page .prev.disabled i{ background-position:-20px -85px;}
.page .next.disabled i{ background-position:-20px -85px;}
.page .prev.enable:hover i{ background-position:-39px -85px;}
.page .next.enable:hover i{ background-position:-39px -85px;}
.page .more{ padding: 0 12px 0 10px;}


.inline{
    display: inline-block;
    font-size: 14px;
    vertical-align: top;
}
.layinput{
    width: 150px; border: 1px solid #c9c9c9; vertical-align: 1px; height: 20px; line-height: 20px; vertical-align: middle; position: relative;
}
.layinput input {
    background: none repeat scroll 0 0;
    border: medium none;
    height: 20px;
    left: -1px;
    line-height: 20px;
    padding: 0 35px 0 5px;
    position: absolute;
    top: 0px;
    width: 120px;
    z-index: 1;
}
.layinput label {
    border: medium none;
    position: absolute;
    right: 2px;
    top: 2px;
    width: 16px; height: 16px; padding-right: 0; background: url("./images/sprite.png") -58px -81px;
}

label.error{
    display: block; color: #FF0000; margin-top: 10px;
}

.nodatalabel{padding: 20px 0; text-align: center;}

.content-messages{
    overflow: hidden; margin-top: 5px;
}
.content-messages .icon{
    float: left; width: 40px;
}
.content-messages .tips{
    float: left; width: 900px;
}

.content-messages.errorMessage{
    border: 1px solid #f29c9f; background-color: #fbd7d8; padding: 20px 20px;
}
.content-messages.errorMessage .icon .u-icon{
    width: 23px; height: 23px; background: url("./images/sprite.png") -219px -62px;
}

.content-messages.eventMessage{
    border: 1px solid #3fa918; background-color: #d3fcc2; padding: 20px 20px;
}
.content-messages.eventMessage .icon .u-icon{
    width: 23px; height: 23px; background: url("./images/sprite.png") -219px -91px;
}
.fn-hide{
    display:none;
}