@CHARSET "UTF-8";

.boxContent .left{width:200px;height:453px;background-color:#ffe64f;padding:6px;float:left}
.boxContent .left .section{border:1px solid #f90;height:100%;background-color:#fff;border-right:0}
.boxContent .left .list{border-bottom:1px solid #ccc;padding-top:10px;padding-bottom:9px;padding-left:10px;position:relative;border-right:1px solid #f90; z-index: 2}
.boxContent .left .list .gray{height: 25px; overflow: hidden;margin-top: 5px;}

.boxContent .left .last{border:0;border-right:1px solid #f90!important;padding-bottom:0;height:60px}
.boxContent .left .last .menu{ border-left: 1px solid #f90}
.boxContent .menu .lefts{width:58px;float:left;color:#f90;font-weight:bolder}
.boxContent .menu .rights{float:left;width:415px}
.bannerBox .menu .rights a:hover{color: #f60;text-decoration: none;outline: 0;}
.menu .lists{padding-top:10px}
.boxContent .left .hover{border-right:1px solid #fff!important}
.boxContent .left .list .gray a{color:#666;line-height:25px;cursor: pointer;}
.boxContent .left .list .lefts a{cursor: pointer;}
.boxContent .left .list .gray a{color:#666;line-height:25px;cursor: pointer;}
.boxContent .left .list .gray a:hover{color: #f60;text-decoration: none;outline: 0;}
.lists .rights li{float: left;}
.lists .rights li a:hover{float: left;color: #f60;text-decoration: none;outline: 0;}
.boxContent .left .list h3{font-weight:bolder;background-position:161px -1435px}
.boxContent .left .list div{padding-bottom:0}
.lists .rights li a{border-left:1px solid #999;padding-left:6px;padding-right:5px;color:#666;line-height:25px;cursor: pointer;}
.boxContent .left .menu{display:none;position:absolute;width:483px;padding-left:25px;padding-right:20px;height:412px;border:1px solid #f90;border-left:none;background-color:#fff;left:199px;top:-1px;z-index:222;_left:188px;}
.boxContent .right{ float: left; width: 906px; margin-left: 22px;}
.boxContent{ padding-top: 20px;}

.right .hasChoose{overflow: hidden;}
.right .hasChoose ul,.right .operate ul{ display: inline-block;}
.right .hasChoose ul li,.operate ul li{ margin-right: 10px; float: left; line-height: 25px; }
.right .title{  line-height: 25px; float: left; font-weight: normal;}
.allBgs{ background-image: url(../images/searchGoods-bg.png); background-repeat: no-repeat;}
.right .hasChoose a{  }
.right .hasChoose i{width: 15px; height: 15px; display: inline-block;background-position: -3px -4px; cursor: pointer; margin-bottom: -5px; margin-left: 2px;}
.chooseBar{ border:1px solid #c9c9c9; margin-bottom: 30px; padding: 0 0 5px 0;}
.chooseBar .choosetTitle{ height: 34px; line-height: 34px; background-color: #eeeeee; font-size: 14px; text-indent: 20px; margin-bottom: 10px;}
.chooseBar .choosetTitle span{ color: #ff6600;}
.chooseBar h3,.chooseBar .cond{ float: left;}

.animate { margin-left: 100px;margin-bottom: 15px; position: relative;}
.animate ins{ position: absolute; width: 10px; height: 45px; border: 1px solid #c5c5c5; border-radius: 3px; top: 5px; cursor: pointer;}
.animate ins.next{ left: -16px; background-position: -84px -150px;}
.animate ins.prev{ right: 229px; background-position: -35px -150px;}
.animate .animateBox{ width: 780px; overflow: hidden;}
.animate ul li{ float: left; width: 54px; height: 54px; border: 1px solid #cccccc; margin-right: 6px;}
.animate .animateBox ul li.hide{ display: none;}
.animate ul li img{ width: 100%; height: 100%}
.chooseBar .rang{ clear: both; padding-bottom: 15px;}
.chooseBar .rang.series,.chooseBar .rang.group,.chooseBar .rang.car{display:none;}
.chooseBar h3{ width: 100px; text-align: right;  margin-top: 4px;}
.chooseBar .cond a{ margin-right: 12px; }
.chooseBar .cond{ width: 790px; line-height: 22px; margin-left: 10px;}
.chooseBar .rang.car .cond{width: 710px; height: 44px; overflow: hidden;}
.chooseBar .rang.car .cond.open{ height: auto;}
.chooseBar .rang .oper{width: 60px; float:left; line-height: 22px; text-align: right;}
.chooseBar .rang .oper .extra{padding: 0 5px;}

.chooseBar .cond.fourth{width: 710px; height: 44px; overflow: hidden;}
.chooseBar .cond.fourth.open{ height: auto;}
.chooseBar .fourthcategory .oper{width: 60px; float:left; line-height: 22px; text-align: right;}
.chooseBar .fourthcategory .oper .extra{padding: 0 5px;}

.chooseBar .abc a{ margin-right: 5px !important; padding: 0 5px;}
.chooseBar .hot{  margin-top: 13px; margin-left: -38px; position: relative; line-height: 22px;}
.chooseBar .hot.close{height: 44px; overflow: hidden;}
.chooseBar .hot a{ margin-right: 15px;}
.chooseBar .hot a.hide{display: none;}
.chooseBar a{white-space: nowrap;}
.chooseBar a.current{ color: #ff6600}
.goodList .sort{ height: 25px;}
.goodList .sort span{ color: #666666; cursor: pointer; margin-right: 8px; display:block; float: left; height: 100%; padding: 0 10px; line-height: 25px; text-align: center;border:1px solid #c9c9c9; _display: inline;}
.goodList .sort .hover{ background-color: #f2353c; border-color:#f2353c !important; color: #fff;}
.goodList .sort .no{ border:none !important;}
.goodList .sort input{ margin-right: 5px;}
.goodList .sort .up{position:relative;padding-right:15px;}
.goodList .sort .down{position:relative;padding-right:15px;}
.goodList .sort .up i{ position:absolute;background-image: url(../images/sprite.png); background-repeat: no-repeat;background-position: -310px 0px;right:0px;top: 8px;width: 10px;height:10px;}
.goodList .sort .down i{ position:absolute;background-image: url(../images/sprite.png); background-repeat: no-repeat;background-position: -290px 0px;right:0px;top: 8px;width: 10px;height:10px;}
.allLists thead tr{ height: 35px; }
.allLists thead td{ border:1px solid #c9c9c9; border-right: none;border-left: none;}
.allLists table{ border:none; width: 100%;border-spacing:0;color: #666666;border-collapse: separate;empty-cells:show;}
.allLists{width: 100%; float: left; margin-top: 10px;}
.allLists tbody tr td{ padding-bottom: 18px; padding-top: 18px; text-align: center; border-bottom: 1px dashed #c9c9c9;}
.allLists thead tr td{text-align: center;}
.allLists table .first{ text-align: left; }
.allLists thead .first{ text-indent: 20px;border-left:1px solid #c9c9c9;}
.allLists thead .last{border-right:1px solid #c9c9c9;}
.allLists .first .word{ display: block; float: left; margin-left: 10px; width: 120px;}
.allLists .first .word p{ display: block; line-height: 24px;}
.allLists .first .word p.series{line-height: 24px;}
.allLists table .imgBox{ width: 70px; height: 70px; border: 1px solid #dcdcdc; display: block; float: left;}
.allLists table .a{ text-decoration: line-through; color: #666666}
.allLists table .red{ color: #ff3333; font-size: 14px;}
.allLists table .join{line-height: 28px; text-align: center; cursor: pointer;}
.allLists table .in{  }
.allLists table .in .add_cart{width: 94px; height: 28px; background-color: #ff9900; color: #fff; cursor: pointer;line-height: 28px; text-align: center; margin-bottom: 8px;}
.allLists table .in .add_cart:hover{text-decoration: none;background-color: #ff6600;}

.allLists table .in .add_cart_disabled{width: 94px; height: 28px; color: #fff; cursor: pointer;line-height: 28px; text-align: center; margin-bottom: 8px; background-color: #999999; cursor: not-allowed;}

.animate .animateBox ul{ position: relative; left: 0;top: 0;}
.changeCar .hover{ color: #ff6600}

.chooseBar .cateAttr{  margin-top: 13px;line-height: 22px;}
.chooseBar .cateAttr h3{ margin-top: 1px;}
.chooseBar .cateAttr.close{height: 44px; overflow: hidden;}
.right .hasChooseCate{overflow: hidden;}
.right .hasChooseCate ul,.right .operate ul{ display: inline-block;}
.right .hasChooseCate ul li,.operate ul li{ margin-right: 10px; float: left; line-height: 25px; }
.right .hasChooseCate a{  }
.right .hasChooseCate i{width: 15px; height: 15px; display: inline-block;background-position: -3px -4px; cursor: pointer; margin-bottom: -5px; margin-left: 2px;}
.chooseBar .cate a{ margin-right: 5px !important; padding: 0 5px;}

.allLists tbody tr td.notice-loading-more{padding: 0; border-bottom: none; display: none;}
.notice-loading-more .msg{background-color: #FFFDEE; border: #EDD28B 1px solid; margin-top: 5px;}
.notice-loading-more .msg span{background:0 10px no-repeat url("../images/loading-jd.gif"); padding-left: 48px; width: 150px; display: block;
    color: #f60; height:48px; line-height: 48px; margin: 0 auto; text-align: left;
}


.animateBox a,img{border:0;}
.animateBox a.abtn{display:block;height:80px;width:17px;overflow:hidden;background:url(../images/arrow3.png) no-repeat 0px 50%;}
.animateBox a.aleft{float:left;}
.animateBox a.agrayleft{cursor:default;background-position:-34px 50%;}
.animateBox a.aright{float:right;background-position:-17px 50%;}
.animateBox a.agrayright{cursor:default;background-position:-51px 50%;}
.animateBox .imglist_w{width:742px;height:58px;overflow:hidden;float:left;position:relative;margin: 13px auto;/*必要元素*/}
.animateBox .imglist_w ul{width:20000px;position:absolute;left:0px;top:0px;}
.animateBox .imglist_w li{width:54px;float:left;margin-right:3px;margin-left:3px;}
.animateBox .imglist_w li img{width:54px;height:54px;}
.animateBox .imglist_w li a{color:#3366cc;text-decoration:none;float:left;}
.animateBox .imglist_w li a:hover img{filter:alpha(opacity=86);-moz-opacity:0.86;opacity:0.86;}
.animateBox .imglist_w li p{height:48px;line-height:24px;overflow:hidden;float:left;}


.chooseBar .forthcategory{  margin-top: 13px;line-height: 22px;}
.chooseBar .forthcategory h3{ margin-top: 1px;}
.chooseBar .forthcategory.close{height: 44px; overflow: hidden;}
.chooseBar .forthcategory a{ margin-right: 5px !important; padding: 0 5px;}

.bottomPagination{
    clear: both; text-align: right; margin-top: 10px;
}
#Pagination{
    float: right;
}
