.personal{width: 1180px; margin:0 auto; margin-top:10px;}
/*个人中心标题*/
.phomettl{background:url(./images/personal/phomettl.jpg) no-repeat;  height: 48px; padding-top:16px;}
.phomettl a.home{background:url(./images/personal/phomettl.jpg) no-repeat left -16px;display: inline-block;  float:left; width: 149px; height:37px;}
.phomettl a{background-image:url(./images/personal/phomettl.jpg);display: inline-block;  float:left; margin-right:24px; font-size: 0; }
.phomettl .myinfo, .phomettl .myinfo_cur{width:65px; height: 23px; background-position: -176px -16px}
.phomettl .myinfo:hover, .phomettl .myinfo_cur{background-position: -176px -80px}
.phomettl .address, .phomettl .address_cur{width:65px; height: 23px; margin-right:22px; background-position: -262px -16px}
.phomettl .address:hover, .phomettl .address_cur{background-position: -262px -80px}
.phomettl .modifypwd, .phomettl .modifypwd_cur{width:67px; height: 23px;  margin-right:22px;background-position: -347px -16px}
.phomettl .modifypwd:hover,  .phomettl .modifypwd_cur{background-position: -347px -80px}
.phomettl .myorder, .phomettl .myorder_cur{width:67px; height: 23px;margin-right:21px; background-position: -438px -16px}
.phomettl .myorder:hover,  .phomettl .myorder_cur{background-position: -438px -80px}
.phomettl .myreserve, .phomettl .myreserve_cur{width:67px; height: 23px; margin-right:20px; background-position: -527px -16px}
.phomettl .myreserve:hover, .phomettl .myreserve_cur{background-position: -527px -80px}
.phomettl .integral, .phomettl .integral_cur{width:67px; height: 23px; margin-right:21px; background-position: -613px -16px}
.phomettl .integral:hover, .phomettl .integral_cur{background-position: -613px -80px}
.phomettl .card, .phomettl .card_cur{width:84px; height: 23px; margin-right:21px; background-position: -700px -16px}
.phomettl .card:hover, .phomettl .card_cur{background-position: -700px -80px}

/*个人信息总览*/
.infoall{float:left;padding:15px 0px 40px 0px; color: #000}
.headImg{float:left; width: 128px; height: 128px; margin-right: 42px;}
.headImg img{border-radius: 64px; max-width: 128px; max-height: 128px;}
.infoCon{margin-left:170px; width: 800px;}
.infoCon li{border-bottom: 1px solid #d0d0d0; padding:15px 20px 10px 20px; height:20px;}
.infoCon li .conli{float: left; width:240px; margin-right:10px;}
.infoCon li .conli .liname{display: inline-block; margin-right:20px; width: 70px}
.infoCon li .conli .lival{display: inline-block; }
.mdybtn{background:#373737; color: #fff; display: inline-block; padding:2px 10px; border-radius: 12px}
.mdybtn:hover{background: #a80000; color: #fff}
.infoall .addaddr{float: left; }
.infoall .addaddrcon .con{width: 680px;}

/*当前头像*/
.headImgBox{padding-right: 30px; float: right;}
/*我的订单*/
.orderView{clear:both; height: 440px; border: 1px solid #d0d0d0; margin-bottom: 20px}
.orderView .ordttl{margin-bottom:20px;border-top:1px solid #000; border-bottom:1px solid #d0d0d0;border-right:1px solid #d0d0d0;height: 49px; line-height:49px; background: url(./images/personal/orderttl.jpg) no-repeat left center; padding-left: 128px;}
.orderView .ordttl a{display: inline-block; float: left; margin-right:20px;}
.orderView .ordttl a.cur{color: #a80000}
.personal .hot-pro .box-hd{}
.orderView .ordttl a.all-fr{display: inline-block; float: right; color: #a80000}
/*收货地址*/
.addrBox{width: 1120px;}
.addrBox ul{float: left; overflow: hidden;}
.addrBox li{float:left;width: 237px;height: 145px;margin: 0 14px 14px 0;color: #666;cursor: pointer;}
.addrBox .inner{padding: 11px 15px; background: url(./images/addrInner.png) no-repeat;overflow: hidden;}
.addrBox .addr-cur{padding: 11px 15px; background: url(./images/addrInner-cur.png) no-repeat;overflow: hidden;}
.addrBox .addr-hd {width: 100%; border-bottom: 1px solid #f2f2f2; padding: 0 0 3px;margin-bottom: 8px; height: 24px;line-height: 24px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.addrBox .addr-bd {height: 65px; line-height:20px;overflow: hidden;word-break: break-all;word-wrap: break-word;}
.addr-toolbar{height:22px; }
.addr-toolbar a{color: #997239; }
.addr-toolbar a:hover{color: #a80000}
.addr-toolbar .modify{float: right; display: inline-block;}
.defBtn{background:url(./images/yuyueico.png) no-repeat 0 -1px; display: inline-block; padding-left: 20px; color: #997239}
.pipe{display: inline-block; float: right; padding: 0 3px; font-size: 12px;}
.addrBox .inner .add, .addrBox .addr-cur .add{display:inline-block; width:207px;height: 127px; line-height: 127px; text-align: center; font-size: 16px;}
.addrBox .ttl{clear: both; width: 100%; margin: 20px 0; padding-bottom:10px; font-weight: bold; border-bottom: 1px solid #d0d0d0;font-size: 16px; }
.cancel:hover{border:1px solid #a80000;}
.addrttl {clear:both;
	margin-top:20px;
	margin-bottom: 20px;
	border-top: 1px solid #000;
	border-bottom: 1px solid #d0d0d0;
	border-right: 1px solid #d0d0d0;
	height: 49px;
	line-height: 49px;
	background: url(./images/personal/addrttl.png) no-repeat left center;
	padding-left: 128px;
}
/*我的订单*/
.control{margin-bottom: 10px;}
.orderSear{float: right}
.orderTtl{background:#ffddda; padding:10px;}
.orderList{border:1px solid #d0d0d0; margin-top:10px;}
.orderList td{position: relative;}
.orderList .g-pic{float:left; width: 50px;}
.orderList .g-info{float:left; width: 260px;display: table-cell;padding-bottom: 14px;line-height: 18px; text-align: left; padding-left: 15px;}
.orderList .g-back{position: absolute; bottom: 5px;color: #198000; font-size: 12px;}
.orderList .g-type{color: #818181;}
.tabListnobr .pay-goods .item  .g-pic{padding-left:5px;}
.tabListnobr .pay-goods .item .g-info{text-align: left; width: 200px;}
.tabListnobr .pay-goods .item td.last{border-right:1px solid #d0d0d0;border-left:1px solid #d0d0d0;}
.rborder{border-right: 1px solid #d0d0d0}
/*订单详情*/
.orderhd{border:1px solid #d0d0d0; width:1160px;}
.order_status{float:left;border:1px solid #d0d0d0; padding:0 10px 0 0; width:1170px; border-top:0;}
.order_status .left_info{float:left; width:320px; border-right:1px solid #d0d0d0;}
.order_status .right_info{float:right; width:830px;}
.order_status .left_info .ttl{clear:both;width:300px; height:22px;border-bottom:1px solid #e3e3e3; background:#f3f3f3; padding:3px 10px;}
.order_status .left_info .infolist{float:left;padding:10px; width:300px; color:#666}
.order_status .left_info .infolist li{clear:both; }
.infolist .info_dt{float:left;display:inline-block; width:70px;}
.infolist .info_dd{float:left;display:inline-block; width:230px; margin-bottom:5px;}
.infolist .info_dd .infoDetail{word-wrap: break-word; word-break: normal;}
.stepDetail{border-top:1px solid #e3e3e3; margin-top:15px; padding:10px; }
.stepDetail ul{margin-left:60px;}
.stepDetail li{line-height:22px; clear:both; }
.stepDetail .stephd{font-weight:bold; }
.stepDetail .step-dt{display:inline-block; width:150px;}
.stepDetail .step-dd{display:inline-block;}
.pkg-tab{background: url(./images/linebg.gif) repeat-x center bottom; margin:10px 10px 15px 10px;}
.pkg-tab .tab{height: 67px;}
.pkg-tab .tab li{float:left; width: 52px; text-align: center; margin-right:15px;}
.pkg-tab .tab li a{display: block; width: 52px; padding-bottom:15px;}
.pkg-tab .tab li a:hover img{border:1px solid #ff8a81;}
.pkg-tab .tab li img{border:1px solid #e3e3e3; width: 50px; height: 50px;}
.pkg-tab .tab li a.cur{background: url(./images/arrowup.gif) no-repeat center bottom;}
.pkg-tab .tab li a.cur img{border:1px solid #ff8a81;}
/*我的积分*/
.integral-from{display: table-cell; vertical-align: middle; }
.integral-from .g-pic{ display: table-cell; vertical-align: middle; padding-right:15px;}
.integral-from .g-info{text-align: left;display: table-cell; vertical-align: middle;}
.integral-from .g-info .g-name{}
.vtop td{vertical-align: middle}
/*我的优惠券*/
.quancan{background:#f1f1f1; border:1px solid #d0d0d0; padding:15px; margin-bottom: 15px;}
.qcnumbox{display: table-cell; vertical-align: middle; width:255px; text-align: center; font-size: 16px;}
.quanlist{display: table-cell; vertical-align: middle;}
.quanlist li{margin-right: 10px; margin-bottom:10px;text-align: center; float: left;}
.quan{margin-bottom:10px;background: url(./images/quan_bg_icon.png) no-repeat center top; width:137px; height: 52px; color: #fff; display: table-cell; vertical-align: middle;}
.quan:hover{color: #fff}
.quan-get{display: block; width: 137px; background: #4fc4f6; height: 30px; border-top:1px dotted #fff; line-height: 30px; color: #fff}
.quanB .quan{background-position: center 0;}
.quanB .quan-get{ background: #4fc4f6;}
.quanO .quan{background-position: center -129px;}
.quanO .quan-get{ background: #fcb150;}
.quanR .quan{background-position: center -194px;}
.quanR .quan-get{ background: #e74c65;}
#showMore {
	clear: both;
	width: 90px; padding-right:20px;margin-left:160px; margin-bottom: 15px;}
#showMore span {width:282px;
	display: block;
	height: 30px;
	line-height: 30px;
	text-align: left;
	padding-left:30px;
	color: #666
}
#showMore .show{background: url(./images/minus.png) no-repeat 10px 50%;  }
#showMore .hide {background: url(./images/plus.png) no-repeat 10px 50%;}
/*找回密码*/
.findpwdttl{background: url(./images/personal/findpwdttl.png) no-repeat left center;border-right:1px solid #d0d0d0;height: 49px; line-height:49px; padding-left: 128px;}
/*修改邮箱*/
.editemailttl{background: url(./images/personal/editemailttl.png) no-repeat left center;border-right:1px solid #d0d0d0;height: 49px; line-height:49px; padding-left: 128px;}
/*修改手机*/
.editphonettl{background: url(./images/personal/editphonettl.png) no-repeat left center;border-right:1px solid #d0d0d0;height: 49px; line-height:49px; padding-left: 128px;}
/*验证手机*/
#valiform .addaddrcon .con{width:500px;}
.evattl{}

.files{position: absolute;
	left: -1000px;
	top: 52px;
	heigth: 26px;
	cursor: pointer;
	filter: Alpha(opacity=0);
	-moz-opacity: 0;
	opacity: 0;}