.page_body .col-lg-4, .page_top .col-md-5, .page_top .col-sm-6{width:1px;}
.page_top .col-lg-4, .page_top .col-md-5, .page_top .col-sm-6{height:50px;}
.page_top{position:fixed;padding-left:140px;height:50px;margin-bottom:0;}
.page_body{padding-left:20px;padding-top:50px;}
.dashboard{border-top:1px solid #F1F1F1;background:#FAFAFA;}
.logo{width:140px;height:50px;background:#3d85cc;padding:10px;}
.logo img{width:100%;vertical-align: top;}
.top_banner{height:50px;background:#fff;}
.ctrl_banner{height:50px;background:#fff;}
.ctrl_nav_top:after{content:'';display:block;clear:both;}
.ctrl_nav_top>ul>li{display:block;float:left;}
.ctrl_nav_top>ul>li>a{display:block;position:relative;height:50px;padding:0 20px;line-height:51px;text-align:center;color:#666;font-size:16px;}
.ctrl_nav_top>ul>li>a.qIcon{font-size:22px;padding:0 10px;line-height:48px;}
.ctrl_nav_top>ul>li>a:hover{background:#F1F1F1;}
.ctrl_nav_top>ul>li>a label.badge{z-index:999;}
.ctrl_nav_top .rel_sites{position:relative;z-index:2;}
.ctrl_nav_top .rel_sites > a{font-size:16px;padding:0 40px 0 20px;}
.ctrl_nav_top li > a em {position:absolute;top: 0;right:45px;margin: 23px -20px 0 10px;border-width: 5px;border-style: solid;border-color: #ccc transparent transparent transparent;width: 0;height: 0;-webkit-transition: transform 0.2s; -moz-transition: transform 0.2s; transition: transform 0.2s;}
.ctrl_nav_top li:hover > a em {margin-top: 19px;transform:rotate(180deg);-ms-transform:rotate(180deg);-moz-transform:rotate(180deg);-webkit-transform:rotate(180deg);-o-transform:rotate(180deg);}
.ctrl_nav_top .rel_sites .site_box{display:none;position:absolute;left:0;top:50px;background:#fff;box-shadow:0 0 3px #c6d0da;width:360px;padding:15px 0;}
.ctrl_nav_top .rel_sites .site_box ul:after{content:'';display:block;clear:both;}
.ctrl_nav_top .rel_sites:hover >a{background:#f1f1f1;}
.ctrl_nav_top .rel_sites:hover .site_box{display:block;}
.web_preview li a i{margin:0 auto 8px auto;}
.web_preview li a:hover{color:#f60;}
.ctrl_nav_top .user_ctrl{position:relative;z-index:2;}
.ctrl_nav_top .user_ctrl > a{font-size:16px;padding:0 40px 0 20px;}
.ctrl_nav_top .user_ctrl .user_box{display:none;position:absolute;left:0;top:50px;background:#fff;box-shadow:0 0 3px #c6d0da;width:145px;}
.ctrl_nav_top .user_ctrl .user_box li a{display:block;padding:10px;font-size:14px;color:#666;}
.ctrl_nav_top .user_ctrl .user_box li a:hover{background:#4D9BE3;color:#fff;}
.ctrl_nav_top .user_ctrl:hover .user_box{display:block;}
.ctrl_nav_top .user_ctrl:hover >a{background:#f1f1f1;}

.menu{position:absolute;left:0;top:0;width:100%;}
.menu_item .menu_title h4 a{background:#1C1A1E;color:#fff;font-size:14px;height:40px;line-height:40px;}
.menu_item .menu_title h4 a img{vertical-align: middle;width:14px;height:14px;margin-right:5px;}
.menu_item .menu_title h4 a.selected{background:#3D85CC;}
.menu_item .menu_title a:hover{background:#3D85CC;}
.menu_item .menu_body{padding:0;}
.menu_item .menu_body ul li a{color:#fff;height:40px;line-height:38px;padding-left:15px;}
.menu_item .menu_body ul li a:hover{background:#3D85CC;}
.menu_item .menu_body ul li.selected a{background:#3d85cc;}
.menu_item .menu_body ul li a img{width:14px;height:14px;vertical-align: middle;margin-right:5px;}
.menu_item .menu_body ul li a span{vertical-align: middle}
.main_title{font-size:18px;}
.page_body .main{position:relative;padding-left:2px;padding-top:0px;}
.sub_menu{width:140px;height:100%;overflow:hidden;position:absolute;z-index:9;top:0;bottom:0;left:0;background:#ECEEEF;}
.sub_menu_in{position:absolute;top:0;left:0;width:140px;}
.sub_menu dl{margin-bottom:1px;}
.sub_menu dl dt{display:block;height:40px;line-height:38px;text-indent:15px;font-size:13px;background:#D8DCDE;color:#333;cursor:pointer;}
.sub_menu dl dt img,.sub_menu dl dt span{vertical-align: middle;width:14px;height:14px;margin-right:5px;}
.sub_menu dl dd a{display:block;height:40px;line-height:40px;text-indent:36px;color:#333;}
.sub_menu dl dd .selected{background:#F9F9F9;}
.orders_pending,.latest_customers{height:372px;}
.data_none{margin:90px 10px 0 10px;text-align: center;}
.data_none i{display:block;width:100px;height:100px;margin:10px auto;}
.data_none i.no_order{background:url(/images/img/index_order_empty.png) no-repeat;}
.data_none i.no_user{background:url(/images/img/index_member_empty.png) no-repeat;}
.data_none p{font-size:14px;}
.table_tabs{margin-bottom:2px;border-bottom:2px solid #3D85CC;}
.table_tabs ul{display:block;height:32px;margin-bottom:1px;}
.table_tabs ul li a{box-shadow:none;border-radius:0;border:1px solid #D8D8D9;color:#3D85CC;background:#fff;font-size:12px;height:32px;line-height:32px;margin-right:2px;padding:0 30px;}
.table_tabs ul li a:hover{border-color:#8EB8E1;}
.table_tabs ul .active a{height:35px;vertical-align: top;background:#fff;color:#3D85CC;border-top:2px solid #3D85CC;border-left:1px solid #3D85CC;border-right:1px solid #3D85CC;border-bottom:2px solid #fff;}
.table_tabs ul .active a:hover{border-top:2px solid #3D85CC;border-left:1px solid #3D85CC;border-right:1px solid #3D85CC;border-bottom:0;}
table.table thead tr th{background:#F1F1F1;color:#333;font-weight:normal;}
.table>thead>tr>th{border-bottom:0;}
.label{padding:.1em .3em .1em;font-weight:normal;font-size:12px;}
.btn{padding:4px 15px;border-radius:2px;}
.form-control{padding:4px 12px;height:30px;}
div.meneame{margin:0;padding:8px 0 8px 13px}
div.meneame a,div.meneame span.disabled,div.meneame span.current{padding:8px 10px 8px 15px;margin-right:1px;color:#3D85CC;}
div.meneame a:hover{border-color:#8EB8E1;color:#3D85CC;}
div.meneame span.current{background:#3D85CC;border:1px solid #3D85CC;color:#fff;font-weight:normal;}
.common_tabs .nav-tabs{border-bottom:2px solid #3D85CC;display:block;height:35px;padding-bottom:1px;}
.common_tabs .nav-tabs li{margin:0;}
.common_tabs .nav-tabs li a{box-shadow:none;border-radius:0;border:1px solid #D8D8D9;color:#3D85CC;background:#fff;font-size:12px;height:32px;line-height:32px;margin-right:2px;}
.common_tabs .nav-tabs li a:hover{border-color:#8EB8E1;}
.common_tabs .nav-tabs .active a{height:35px;vertical-align: top;background:#fff;color:#3D85CC;border-top:2px solid #3D85CC;border-left:1px solid #3D85CC;border-right:1px solid #3D85CC;border-bottom:2px solid #fff;}
.common_tabs .nav-tabs .active a:hover{background:#fff;color:#3D85CC;border-top:2px solid #3D85CC;border-left:1px solid #3D85CC;border-right:1px solid #3D85CC;border-bottom:2px solid #fff;}
.common_tabs .nav-tabs .active a:focus{background:#fff;color:#3D85CC;border-top:2px solid #3D85CC;border-left:1px solid #3D85CC;border-right:1px solid #3D85CC;border-bottom:2px solid #fff;}
.form-horizontal .control-label{font-weight:normal}
.service_market ul{margin:15px 10px;}
.service_market ul:after{content:'';display:block;clear:both;}
.service_market ul li{display:block;float:left;width:25%;margin-bottom:15px;}
.service_market ul li a{color:#333;padding-left:8px;}
.service_market ul.strong_list{border-bottom:1px dotted #D9D9D9;}
.service_market ul.strong_list li{margin-left:0;}
.service_market ul.strong_list li a.qIcon{color:#333;font-size:14px;font-weight:bold;line-height:18px;padding-left:0;}
.service_market ul.strong_list li a.qIcon:before{width:30px;}
#empForm .form_datetime .input-group-addon{height:30px; }
.ip_pre{position:relative;width:350px;border:1px solid #e5e5e5;background:#fff;border-radius:18px 18px 0 0;}
.ip_head{height:70px;background:url( /images/img/iphone_head.png) no-repeat center center;}
.ip_body{width:320px;margin:0 auto;padding-bottom:11px;}
.wx_head{width:320px;height:64px;background:url( /images/img/titlebar.png) no-repeat;}
.wx_head h1{font-size:16px;font-weight:bold;color:#fff;margin:0;padding-top:32px; text-align:center;}
.ip_cont{width:320px;background:#f9f9f9;}
.plugin_add{position:relative;width:348px;border-top:1px solid #e5e5e5;background:#f9f9f9;}
.plugin_add:before,.plugin_add:after {position:absolute;content:' ';border:8px solid transparent;border-bottom-width:10px;border-bottom-color:#f8f8f8;top:-18px;left:167px}
.plugin_add:before {top:-19px;border-bottom-color:#ddd}
.plugin_add h4{ text-align:center;font-size:14px;}
.plugin_list .row{padding-left:10px;}
.plugin_list .row div{padding-right:10px;margin-bottom:10px;}
.plugin_list .row div a{display:block;width:100%;height:40px;background:#fff;border:1px solid #ddd;background:#fff; text-align:center;line-height:40px;border-radius:3px;}
.plugin_list .row div a:hover{background:#428BCA;color:#fff; text-decoration:none;}
.edit_area{position:absolute;left:420px;width:380px;}
.edit_area .edit_cont{padding:12px 10px;min-height:58px;background:#f8f8f8;border-radius:5px;border:1px solid #ddd;}
.edit_area .arrow,.edit_area .arrow:after {width:0px;height:0px;border-style:solid;border-width:8px 10px 8px 0;border-color:transparent #d1d1d1 transparent transparent;position:absolute;left:-10px;top:19px}
.edit_area .arrow:after {content:"";border-right-color:#f8f8f8;left:1px;top:-8px}
.form_group{position:relative;}
.form_group .fh{position:absolute;left:0;top:0;width:75px;text-align:right; line-height:30px;}
.cube{position:relative;}
.cube .row div{padding:0 1px 1px 0;}
.cube .row div span{display:block;height:89px;background:#ccc;border-radius:3px;cursor:pointer;}
.cube .row .selected span{background:none;}
.app_item{position:relative;overflow:hidden;min-height:30px;}
.app_edit{position:absolute;left:0;top:0;cursor:move; z-index:10;width:100%;height:100%;}
.app_edit:hover {border:2px dotted #298dcc;}
.app_selected .app_edit {border:2px dotted #f00;}
.app_edit .app_btns{position:absolute;right:2px;bottom:2px;}
.app_edit:hover .app_btns, .app_selected .app_btns {right:0;bottom:0;}
.app_edit .app_btns a{padding:2px 8px;background:rgba(0,0,0,0.6);color:#fff;}
.imgEdit{display:none;position:relative;border:1px solid #dfdfdf;background:#fff;padding:10px;}
.imgEdit .close{position:absolute;right:-10px;top:-10px;display:block;width:25px;height:25px;background:#000;color:#fff;border-radius:50%;font-size:14px;line-height:25px; text-align:center;cursor:pointer;}
.ui-state-highlight {height:60px; line-height:60px; width:100%; background:#fcfbf2; border:1px solid #fcefa1; position:relative; left:-10px;}
.plugin_box {}
.basicEdit {top:90px;}
.wx_head h1 span {cursor:pointer;}
.img_adv img {width:100%;}
.roll_banner {width:320px; height:155px;}

.etBtn {margin-right:10px;}
#sd_prev, #sd_next {position:absolute; width:20px; height:40px; top:50%; margin-top:-20px; background:url(/images/img/scroll_btns.png) no-repeat; display:none;}
#sd_prev {background-position:top left; left:20px;}
#sd_next {background-position:top right; right:20px;}
#sd_prev:hover {background-position:bottom left;}
#sd_next:hover {background-position:bottom right;}
.disabled {cursor:not-allowed;}
#rollAdvEdit {width:480px;}
.lb-word {margin-left:10px; font-weight:500; color:#999; font-size:12px;}

/* 全屏幻灯 */
.phone_wp {width:320px; height:500px; border:1px solid #ddd;}

@font-face {font-family: 'iconfont';
    src: url('iconfont.eot'); /* IE9*/
    src: url('iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('iconfont.woff') format('woff'), /* chrome、firefox */
    url('iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('iconfont.svg#uxiconfont') format('svg'); /* iOS 4.1- */
}
.iconfont{
    font-family:"iconfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}

.full-swiper-container, .swiper-slide {width:100%; height:100%; overflow:hidden;}
.notice {color:#f00;}
.sd_infos {margin-bottom:0;}
.sd_infos dt {float:left; font-weight:500; width:70px;}
.sd_infos dd {margin:0 0 10px 75px;}
.sd_infos dd input {margin:0 5px 0 0;}
.sd_infos dd label {font-weight:500;}
.sd_intro {color:#999; font-size:12px; margin-left:10px;}
.add_slides {border-top:1px solid #ccc; padding:10px; margin-bottom:10px; position:relative;}
.view_img {float:left; width:100px; height:140px; position:relative; border:1px solid #ccc;}
.view_img img {width:100%; height:100%;}
.view_img span {width:100%; height:25px; line-height:25px; position:absolute; left:0; bottom:0; background:rgba(0,0,0,.5); color:#fff; text-align:center;}
.sd_view dt {font-weight:500; margin-bottom:10px;}
.sd_view dd input {width:300px;}
.sd_view {}
.fc_slides img {width:100%; height:100%;}
/*#music-modal {width:550px; height:350px; background:#fff; top:10%; left:50%; margin-left:-250px;}*/
.audition, .stop-audition {font-size:20px; color:#666; vertical-align:middle; margin-right:5px;}
.stop-audition {}
.audition:hover, .stop-audition:hover {text-decoration:none;}
/*.modal-body {height:220px; overflow-y:scroll;}*/
#music-modal h3 {margin-top:0; font-size:20px;}
.full-pagination {position:absolute; bottom:25px; left:0px; width:100%; text-align:center;}
.swiper-pagination-switch {display:inline-block; zoom:1; *display:inline; width:10px; height:10px; border-radius:50%; background:#fff; margin:0 2px;}
.swiper-active-switch {background:#4196f5;}
.music-list tbody tr {border-top:1px solid #ccc; border-bottom:1px solid #ccc; padding:5px 0;}
.music-list th {padding:10px; background:#f5f5f5;}
.music-list td {padding:5px 10px;}
.choose-mc {padding:3px 10px; background:#f8f8f8; border:1px solid #dfdfdf; border-radius:3px;}
.music-name {background:#1474c9; color:#fff; padding:1px 5px; border-radius:3px; display:none;}
.mc-ok {padding:3px 10px; background:#f8f8f8; border:1px solid #dfdfdf; border-radius:3px; color:#999; display:none;}
.seled .choose-mc {display:none;}
.seled .mc-ok {display:inline;}
.vtc-img {position:absolute; bottom:10px; left:50%; margin-left:-50px; width:100px; height:100px; background:url(/images/img/swipe_up.png) no-repeat; background-size:100%; z-index:999; display:none;}
.remove-slide {color:#428bca; position:absolute; top:10px; right:10px; font-size:12px; display:none;}
.add_slides:hover .remove-slide {display:inline;}
#slides .slide:hover .remove-slide {display:block;}
.music-ico {position:absolute; right:20px; top:20px; width:16px; height:16px; background:url(/images/img/music.png) rgba(0,0,0,.5) no-repeat; z-index:999; border-radius:50%; display:none;}
/* 灰化添加模块按钮 */
.disabled-edit {background:#f5f5f5; color:#999; cursor:not-allowed;}

/* 转发编辑 */
.form-txa {width:50%; height:100px; border:1px solid #ccc; border-radius:5px; box-shadow:inset 0 1px 1px rgba(0,0,0,0.075); padding:10px;}
.form-txa:focus {border-color:#66afe9; outline:0; -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6); box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);}
.cp_infos {margin-bottom:0;}
.cp_infos dt {float:left; font-weight:500; width:100px; line-height:34px; text-align:right;}
.cp_infos dd {margin:0 0 10px 110px; min-height:34px;}
.cp_infos dd input {margin:0 5px 0 0;}
.cp_infos dd label {font-weight:500;}
.report-dd {clear:both; margin-left:0!important;}
.report-box {padding-bottom:15px; margin-bottom:15px; border-bottom:1px dotted #ccc;}
.report-box img {border:1px solid #ccc; width:215px;}
.sl_box p {font-size:12px; color:#999; marginb-bottom:10px;}
.app_item .text {padding:10px;}
.app-submit input {background:#298dcc; border:none; color:#fff; border-radius:3px; padding:3px 5px;}

/*内连接
#ctModal {width:700px; height:430px; margin:auto; top:0; bottom:0; left:0; right:0; background:#fff;}*/
.ct-modal .close {position:absolute; top:15px; right:15px;}
.ct-modal .modal-body {height:300px; font-size:12px; overflow-y:scroll;}
.ct-modal .modal-header {padding:10px 15px;}
.ct-modal .nav-tabs {border-bottom:none;}
.ct-modal .nav>li>a {padding:5px 10px;}
.ct-modal .nav-tabs>li {margin-bottom:0; background:url(/images/img/st-line.gif) no-repeat right center;}
.ct-modal .nav-tabs>li:last-child {background:none;}
.ct-modal .nav-tabs>li>a {border:none; font-weight:700;}
.ct-modal .nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {border:none; color:#000;}
.ct-tbs th, .ct-tbs td {padding:10px; font-size:14px;}
.ct-tbs th {background:#f5f5f5;}
.ct-choose {background:#fafafa; padding:5px 10px; border:1px solid #ccc; border-radius:3px;}
.ct-modal .pagination {margin:5px 0;}
.level-2 td:first-child {text-indent:20px;}
.level-3 td:first-child {text-indent:20px;}
.level-op {display:inline-block; zoom:1; *display:inline; width:12px; height:12px; vertical-align:middle; margin-right:10px;}
.level-show {background:url(/images/img/handle-show.gif) no-repeat;}
.level-hide {background:url(/images/img/handle-hide.gif) no-repeat; display:none;}
.level-show2 {background:url(/images/img/handle-show.gif) no-repeat;}
.level-hide2 {background:url(/images/img/handle-hide.gif) no-repeat; display:none;}
.level-2 {display:none;}
.level-3 {display:none;}
.form-search {width:200px; height:30px; border:1px solid #ccc; background:#fff; border-radius:3px; overflow:hidden;}
.input-medium {width:105px; height:28px; border:none; padding:0 5px; font-size:12px;}
.form-search .btn {width:38px; height:28px; padding:0; border-radius:0; background:#f5f5f5; border-left:1px solid #ccc; font-size:12px;}

.img_close {position:absolute; top:5px; right:5px; cursor:pointer; display:none;}
.imgEdit:hover .img_close {display:inline;}
.fg_box {padding-left:85px; margin-bottom:10px;}
.text-muted {display:inline-block; zoom:1; *display:inline; margin-left:10px; font-size:12px;}
.lk-sel {margin-right:10px; position:relative; width:100px; display:inline-block; zoom:1; *display:inline; background:#fff;}
.custom-input {margin-top:10px; width:200px!important; display:none;}
.sel-word {display:inline-block; zoom:1; *display:inline; width:100%; height:30px; line-height:30px; text-indent:10px; cursor:pointer; border:1px solid #ccc; background:url(/images/img/down.gif) no-repeat 85px center;}
.lk-sel ul {position:absolute; top:29px; left:0; z-index:999; width:100%; border:1px solid #ccc; border-top:none; background:#fff; display:none;}
.lk-sel ul li a {display:block; line-height:30px; padding:0 10px; color:#666; cursor:pointer;}
.lk-sel ul li a:hover {color:#fff; background:#428bca; text-decoration:none;}
.sel-tags {display:inline-block; zoom:1; *display:inline; margin-top:7px;}
.sel-tags em {padding:3px 10px; color:#fff; background:#428bca; font-size:12px; border-radius:3px;}
.dd-box {width:240px;}
.dt-box {line-height:30px; width:70px; text-align:right; font-weight:500;}
.dt-box, .dd-box {float:left;}
.del-tags {color:#ff0000; margin-left:10px; font-size:12px;}

/* 空白占位 */
#slider-range-min {display:inline-block; zoom:1; *display:inline; width:50%; margin:0 10px;}
.ui-widget-header {background:#ccc!important;}
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {border-color:#ccc; background:#fafafa; color:#666;}

/* 商品模块 */
.choose-style input {vertical-align:middle; margin:0 5px 0 0;}
.style-wp label, .choose-goods dt {font-weight:500;}
/* 样式一 */
.gd-01 img {width:100%;}
.good-price {color:#f00;}
.goods-info {padding:10px; position:relative;}
.goods-info h3 {font-size:14px; color:#333; margin:0 0 10px; line-height:150%;}
.app-goods {margin-bottom:0;}
.good-buy-btn {display:none;}
/* 样式二 */
.gd-02 {overflow:hidden;}
.gd-02 img {width:100%;height:160px;}
.gd-02 li {float:left; width:153px; margin:4px;}
.gd-02 li:nth-child(odd) {margin-right:2px;}
.gd-02 li:nth-child(even) {margin-left:2px;}
.gd-02 h3 {height:40px; overflow:hidden;}
/* 样式三 */
.gd-03 li {overflow:hidden; border-bottom:1px dotted #ddd; margin-top:10px;}
.gd-03 img {float:left; width:30%;}
.gd-03 .goods-info {float:left; width:70%; padding:0 10px;}
.gd-03 .goods-info h3 {height:40px; overflow:hidden;}
.gd-03 .good-buy-btn {position:absolute; right:10px; bottom:0; background:#298dcc; color:#fff; font-size:12px; padding:3px 10px; border-radius:3px;}

.style-wp {width:220px; display:inline-block; zoom:1; *display:inline; vertical-align:top; margin:0 5px 10px 0;}
.choose-goods {margin-top:20px;}
.choose-goods dt {float:left; width:70px;}
.choose-goods dd {margin:0 0 0 80px;}
.choose-goods dd img {border:1px solid #ccc;}
.gds-show {display:inline-block; zoom:1; *display:inline; vertical-align:middle;}
.img-sw {display:inline-block; zoom:1; *display:inline; margin-right:10px; position:relative;}
.rmv-gd {width:16px; height:16px; text-align:center; line-height:16px; background:rgba(0,0,0,.5); color:#fff!important; border-radius:50%; position:absolute; top:-8px; right:-6px; font-size:12px;}
.rmv-gd:hover {text-decoration:none;}
.ch-gd {display:inline-block; zoom:1; *display:inline; vertical-align:middle; width:50px; height:50px; border:1px solid #ccc; position:relative; background:#fff;}
.ch-gd i {position:absolute; width:14px; height:14px; margin:auto; top:0; bottom:0; left:0; right:0; background:url(/images/img/icon-add.png) no-repeat;}

/*分隔线*/
.line-wp {height:30px; position:relative;}
.line-app {border:none; border-top:1px dashed #ccc; width:100%; height:1px; position:absolute; margin:auto; top:0; left:0; right:0; bottom:0;}
.main_cont{background:#fff;overflow-y:auto;}
.aui_outer { text-align:left; }
table.aui_border, table.aui_dialog { border:0; margin:0; border-collapse:collapse; width:100%; border-radius:6px;}
.aui_nw, .aui_n, .aui_ne, .aui_w, .aui_c, .aui_e, .aui_sw, .aui_s, .aui_se, .aui_header, .aui_tdIcon, .aui_main, .aui_footer { padding:0; }
.aui_footer{border-radius:0 0 6px 6px;}
.aui_header, .aui_buttons button { font: 15px/1.11 'Microsoft Yahei', Tahoma, Arial, Helvetica, STHeiti; _font-family:Tahoma,Arial,Helvetica,STHeiti; -o-font-family: Tahoma, Arial; }
.aui_title { overflow:hidden; text-overflow: ellipsis; }
.aui_state_noTitle .aui_title { display:none; }
.aui_close { display:block; position:absolute; text-decoration:none; outline:none; _cursor:pointer; }
.aui_close:hover { text-decoration:none; }
.aui_main { text-align:center; min-width:9em; min-width:0\9/*IE8 BUG*/; }
.aui_content { display:inline-block; *zoom:1; *display:inline; text-align:left; border:none 0; }
.aui_content.aui_state_full { display:block; width:100%; margin:0; padding:0!important; height:100%; }
.aui_loading { width:96px; height:32px; text-align:left; text-indent:-999em; overflow:hidden; background:url(icons/loading.gif) no-repeat center center; }
.aui_icon { vertical-align: middle; }
.aui_icon div { width:48px; height:48px; margin:10px 0 10px 10px; background-position: center center; background-repeat:no-repeat; }
.aui_buttons { padding:8px; text-align: center; white-space:nowrap; border-radius:0 0 6px 6px; }
.aui_buttons button { margin-left:15px; padding: 8px 20px; cursor: pointer; display: inline-block; text-align: center; line-height: 1; *padding:4px 10px; *height:2em; letter-spacing:2px; font-family: Tahoma, Arial/9!important; width:auto; overflow:visible; *width:1; color: #555; border: solid 1px #E0E0E0; background: #FCFCFC; }
.aui_buttons button::-moz-focus-inner{ border:0; padding:0; margin:0; }
.aui_buttons button:hover { color:#999; background:#FEFEFE; }
.aui_buttons button:active { border-color:#666; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#DDDDDD', endColorstr='#FFFFFF'); background: linear-gradient(top, #DDD, #FFF); background: -moz-linear-gradient(top, #DDD, #FFF); background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#DDD), to(#FFF)); box-shadow:inset 0 1px 5px rgba(66, 109, 201, .9), inset 0 1px 1em rgba(0, 0, 0, .3); }
.aui_buttons button[disabled] { cursor:default; color:#666; background:#DDD; border: solid 1px #999; filter:alpha(opacity=50); opacity:.5; box-shadow:none; }
button.aui_state_highlight { color: #fff; border: solid 1px #357ebd; background-color: #428BCA; }
button.aui_state_highlight:hover { color:#FFF; background:#3071A9; }
button.aui_state_highlight:active { border-color:#1c6a9e; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#33bbee', endColorstr='#2288cc'); background: linear-gradient(top, #33bbee, #2288cc); background: -moz-linear-gradient(top, #33bbee, #2288cc); background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#33bbee), to(#2288cc)); }
/* common end */

.aui_inner { background:#FFF; border-radius:6px;}
.aui_outer, .aui_inner {}
.aui_border { box-shadow: inset 0 0 1px rgba(255, 255, 255, .9); }
.aui_nw, .aui_ne, .aui_sw, .aui_se {}
.aui_nw, .aui_n, .aui_ne, .aui_w, .aui_e, .aui_sw, .aui_s, .aui_se {}
.aui_state_lock .aui_nw, .aui_state_lock .aui_n, .aui_state_lock .aui_ne, .aui_state_lock .aui_w, .aui_state_lock .aui_e, .aui_state_lock .aui_sw, .aui_state_lock .aui_s, .aui_state_lock .aui_se {}
.aui_state_focus .aui_dialog { box-shadow: 0 0 3px rgba(0, 0, 0, 0.4); }
.aui_state_focus .aui_outer { box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1); }
.aui_state_lock .aui_border { box-shadow:0 3px 26px rgba(0, 0, 0, .9); }
.aui_state_drag .aui_outer, .aui_outer:active { box-shadow:none; }
.aui_titleBar { position:relative; height:100%; }
.aui_title { height:56px; line-height:27px; padding:15px 28px 0 10px; text-shadow:0 1px 0 rgba(255, 255, 255, .7);font-weight:bold; color:#95a7ae; font-family: Tahoma, Arial/9!important;  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#edf5f8', endColorstr='#bdc6cd'); border-bottom:1px solid #E5E5E5;border-radius:6px 6px 0 0; }
.aui_state_focus .aui_title { color:#555; font-size:18px; font-weight:normal; }
.aui_state_drag .aui_title { background: linear-gradient(top, #bdc6cd, #edf5f8); background: -moz-linear-gradient(top, #bdc6cd, #edf5f8); background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#bdc6cd), to(#edf5f8)); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bdc6cd', endColorstr='#edf5f8'); box-shadow:none; }
.aui_state_drag .aui_titleBar { box-shadow:none; }
.aui_close { padding:0; top:10px; right:10px; width:20px; height:20px; line-height:20px; font-size:25px; color:#fff; text-align:center; font-family: Helvetica, STHeiti; _font-family: Tahoma, '\u9ed1\u4f53', 'Book Antiqua', Palatino; text-shadow:0 1px 0 rgba(255, 255, 255, .9); background:#c7c7c7;opacity:.2;opacity:.2;border-radius:50%;}
.aui_close:hover { opacity:0.5;color:#FFF; }
.aui_close:active { box-shadow: none; }
.aui_close:link,.aui_close:visited,.aui_close:active{outline:none;}
.aui_content { color:#666; }
.aui_state_focus .aui_content { color:#000; }
.aui_buttons { background-color:#FFF; border-top:solid 1px #DADEE5; }
.aui_state_noTitle .aui_nw, .aui_state_noTitle .aui_ne, .aui_state_noTitle .aui_sw, .aui_state_noTitle .aui_se { width:3px; height:3px; }
.aui_state_noTitle .aui_inner { border:1px solid #666; background:#FFF; }
.aui_state_noTitle .aui_outer { border:none 0; box-shadow:none; }
.aui_state_noTitle .aui_nw, .aui_state_noTitle .aui_n, .aui_state_noTitle .aui_ne, .aui_state_noTitle .aui_w, .aui_state_noTitle .aui_e, .aui_state_noTitle .aui_sw, .aui_state_noTitle .aui_s, .aui_state_noTitle .aui_se { background:rgba(0, 0, 0, .05); background:#000\9!important; filter:alpha(opacity=5)!important; }
.aui_state_noTitle .aui_titleBar { bottom:0; _bottom:0; _margin-top:0; }
.aui_state_noTitle .aui_close { top:0; right:0; width:18px; height:18px; line-height:18px; text-align:center; text-indent:0; font-size:18px; text-decoration:none; color:#214FA3; background:none; filter:!important; }
.aui_state_noTitle .aui_close:hover, .aui_state_noTitle .aui_close:active { text-decoration:none; color:#900; }
.aui_state_noTitle .aui_dialog { box-shadow: none; }